-- Query to check for Lamb Tandoori in the database
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available,
  profitable
FROM menu_items 
WHERE LOWER(name) LIKE '%lamb%' 
   OR LOWER(name) LIKE '%tandoori%'
   OR LOWER(name) LIKE '%lamb tandoori%'
ORDER BY name;

-- Alternative query to search more broadly
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available,
  profitable
FROM menu_items 
WHERE LOWER(name) LIKE '%lamb%'
ORDER BY name;

-- Query to check all tandoori dishes
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available,
  profitable
FROM menu_items 
WHERE LOWER(name) LIKE '%tandoori%'
ORDER BY name;
