-- First, let's check what columns exist in the menu_items table
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'menu_items' 
ORDER BY ordinal_position;

-- Corrected query to check for Lamb Tandoori (without profitable column)
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available
FROM menu_items 
WHERE LOWER(name) LIKE '%lamb%' 
   OR LOWER(name) LIKE '%tandoori%'
   OR LOWER(name) LIKE '%lamb tandoori%'
ORDER BY name;

-- Alternative query to search more broadly (without profitable column)
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available
FROM menu_items 
WHERE LOWER(name) LIKE '%lamb%'
ORDER BY name;

-- Query to check all tandoori dishes (without profitable column)
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available
FROM menu_items 
WHERE LOWER(name) LIKE '%tandoori%'
ORDER BY name;
