-- Check what gluten-free dishes actually exist in the database
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available
FROM menu_items 
WHERE 'gluten-free' = ANY(dietary_tags)
ORDER BY name;

-- Also check for any dishes with 'gluten' in the name
SELECT 
  id,
  name,
  price,
  category,
  description,
  dietary_tags,
  available
FROM menu_items 
WHERE LOWER(name) LIKE '%gluten%'
ORDER BY name;
